button.btn-one {
    background: transparent;
    border: none !important;
}

button.btn-one:focus {
    outline: none;
}


.btn-one svg {
    width: 35px;
    height: 35px;
    fill: var(--svg-fill-light);
}

.btn-one .line {
    transition:
        y 300ms ease-in,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
    transform-origin: center;
}

.btn-one[aria-expanded="true"] .line {
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.btn-one[aria-expanded="true"] :is(.top, .bottom) {
    y: 45;
}

.btn-one[aria-expanded="true"] .top {
    rotate: 45deg;
}

.btn-one[aria-expanded="true"] .middle {
    opacity: 0;
}

.btn-one[aria-expanded="true"] .bottom {
    rotate: -45deg;
}